@import "./style.css";
@tailwind components;
@tailwind utilities;

@layer utilities {
  .highlighted-keys .active rect:first-child {
    fill-opacity: 0.4;
  }

  .highlighted-keys .active rect:not(:first-child) {
    stroke-opacity: 1;
  }

  .highlighted-keys .active path {
    fill-opacity: 1;
  }
  .mask-linear-faded {
    mask-image: linear-gradient(black, transparent 70%);
  }

  .mask-animationkeyboard {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 40%,
      black calc(60%),
      transparent 100%
    );
  }
  .mask-shortcutkeys {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 40%,
      black calc(60%),
      transparent 100%
    );
  }

  .glow-exp {
    background-color: #7ee787;
    filter: blur(20px);
  }

  .pl-ent {
    color: #7ee787;
  }
  .pl-e,
  .pl-en {
    color: #d2a8ff;
  }
  .pl-s {
    color: #a5d6ff;
  }
  .pl-s1 {
    color: #fff;
  }
  .pl-k {
    color: #ff7b72;
  }

  .pl-c1 {
    color: #79c0ff;
  }

  .color-fg-subtle {
    color: #6e7681;
  }
  .color-fg-accent {
    color: #2f81f7;
  }
  .color-fg-done {
    color: #a371f7;
  }

  .increase {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(88, 133, 91, 0.9) 25.52%,
      #4ead56 53.12%,
      rgba(99, 199, 107, 0.544444) 74.48%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .increase1 {
    background: linear-gradient(#0d1117, #ea6045, #ea6045, #0d1117);
  }
  .increase2 {
    background: linear-gradient(#0d1117, #797ef9, #797ef9, #0d1117);
  }
}
