@import "./style.css";
@tailwind components;
@tailwind utilities;

@layer utilities {
  .highlighted-keys .active rect:first-child {
    fill-opacity: 0.4;
  }

  .highlighted-keys .active rect:not(:first-child) {
    stroke-opacity: 1;
  }

  .highlighted-keys .active path {
    fill-opacity: 1;
  }
  .mask-linear-faded {
    mask-image: linear-gradient(black, transparent 70%);
  }

  .mask-animationkeyboard {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 40%,
      black calc(60%),
      transparent 100%
    );
  }
  .mask-shortcutkeys {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 40%,
      black calc(60%),
      transparent 100%
    );
  }
}
